<div class="row dash-contents">
  <div class="col-2">
    <div class="nav nav-tabs flex-column tab-buttons-progresshub m-1" id="nav-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mb-1" id="nav-act-proj-tab" data-toggle="tab" href="#nav-act-proj" role="tab" aria-controls="nav-act-proj" aria-selected="true">Active</a>
      <a class="nav-link mb-1" id="nav-achieved-tab" data-toggle="tab" href="#nav-achieved" role="tab" aria-controls="nav-achieved" aria-selected="false">Achieved</a>
      <a class="nav-link mb-1" id="nav-create-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false">Create</a>
      <a class="nav-link mb-1" id="nav-wishlist-tab" data-toggle="tab" href="#nav-wishlist" role="tab" aria-controls="nav-wishlist" aria-selected="false">Wishlist</a>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content tab-contents-dashboard" id="nav-tabContent">
      <%= render 'shared/tab_active', active_projects: @active_projects %>
      <%= render 'shared/tab_achieved', finished_projects: @finished_projects %>
      <%= render 'shared/tab_create', projects_published: @projects_published, projects_drafts: @projects_drafts %>
      <%= render 'shared/tab_wishlist' %>
    </div>
  </div>
  <div class="col-4">
    <div class="profile-dash">
      <%= cl_image_tag current_user.photo.key, class: "photo-dashbord" %>
      <h2><%= current_user.username %></h2>
      Member since <%= current_user.created_at.strftime(" %B %d, %Y")  %><br>
      Achieved <%= @finished_projects.count %> projects <br>
      Working on <%= @active_projects.count %> projects <br>
    </div>
    <div class="skill-tags">
      <canvas id="myChart" width="400" height="400"></canvas>
      <%#= pie_chart @tag_hash %>
    </div>
    <div class="quote">
      <h3>"<%= @quote.content %>"</h3>
      -<%= @quote.person %>
    </div>
  </div>
</div>
