<div class="row">
  <div class="col-2">
    <div class="nav nav-tabs flex-column tab-buttons-progresshub m-2" id="nav-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mb-1" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
      <% @steps.each do |step| %>
        <a class="nav-link mb-1 d-flex justify-content-between" id="tab-<%= step.ordinal %>" data-toggle="tab" href="#nav-<%= step.ordinal %>" role="tab" aria-controls="nav-<%= step.ordinal %>" aria-selected="false">
          <div><%= "Step #{step.ordinal}" %></div>
          <div>
            <% if step.ordinal == @user_project.last_completed %>
              <%= image_tag "check.png", alt: "badge-icon", id: "badge" %>
            <% end %>
          </div>
        </a>
      <% end %>
      <% if current_user == @user_project.project.user %>
        <a class="nav-link mb-1" id="add-step-tab" data-toggle="tab" href="#nav-new-step" role="tab" aria-controls="nav-overview">Add step</a>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview our-background">
          <%= render 'shared/tab_overview', project: @user_project.project %>
        </div>
        <div class="reviews">
          <%= render 'reviews/index', reviews: @project.reviews %>
        </div>
      </div>
      <% @steps.each do |step| %>
        <div class="tab-pane fade p-5 our-background" id="nav-<%= step.ordinal %>" role="tabpanel" aria-labelledby="nav-<%= step.ordinal %>-tab">
          <%= render 'shared/tab_project_step', step: step %>
        </div>
      <% end %>
      <div class="tab-pane fade show" id="nav-new-step" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview our-background">
          <h1>New form here</h1>
          <%= simple_form_for [@project, @project_step] do |f| %>
            <%= f.input :header %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Add this step", class: "btn landing-button btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <% if current_user == @user_project.project.user && !@user_project.project.published? %>
      <%= simple_form_for @project do |f| %>
        <%= f.input :published, :as => :hidden, :input_html => { :value => true } %>
        <%= f.submit "Publish", class: "btn landing-button btn-lg" %>
      <% end %>
    <% else %>
      <%= render 'chatrooms/show', project: @user_project.project, user_project: @user_project, message: @message %>
    <% end %>
  </div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Congratulations!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please review to let the author know what you think!
      </div>
      <div class="modal-footer justify-content-around">
        <button type="button" class="btn landing-button">Review</button>
        <%= link_to "My Projects", dashboard_path, class: "btn landing-button" %>
      </div>
    </div>
  </div>
</div>
