<div class="row">
  <div class="col-2">
    <div class="nav nav-tabs flex-column tab-buttons-progresshub m-2" id="nav-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mb-1" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
      <% @steps.each do |step| %>
        <a class="nav-link mb-1" id="tab-<%= step.ordinal %>" data-toggle="tab" href="#nav-<%= step.ordinal %>" role="tab" aria-controls="nav-<%= step.ordinal %>" aria-selected="false"><%= "Step #{step.ordinal}" %></a>
      <% end %>
      <% if current_user == @user_project.project.user %>
        <a class="nav-link mb-1" id="add-step-tab" data-toggle="tab" href="#nav-new-step" role="tab" aria-controls="nav-overview">Add step</a>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content tab-contents-progresshub" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview">
          <h1><%= @user_project.project.title %></h1>
          <%= cl_image_tag @user_project.project.photo.key %>
          <p>Estimated time to finish: <%= @user_project.project.esttime %></p>
          <p><%= @user_project.project.description %></p>
        </div>
      </div>
      <% @steps.each do |step| %>
        <div class="tab-pane fade p-5" id="nav-<%= step.ordinal %>" role="tabpanel" aria-labelledby="nav-<%= step.ordinal %>-tab">
          <%= cl_image_tag (step.photo.key) if step.photo.attached? %>
          <h2><%= step.header %></h2>
          <p><%= step.description %></p>
          <% if step.ordinal == @steps.count %>
            <%= simple_form_for @user_project do |f| %>
              <%= f.input :completed, as: :hidden, input_html: {value: true} %>
              <%= f.submit "Finish Project", class: "btn landing-button btn-lg"%>
            <% end %>
          <% else %>
            <%= simple_form_for @user_project, remote: true, html: { 'data-next-tab': "tab-#{step.ordinal + 1}" } do |f| %>
              <%= f.input :last_completed, as: :hidden, input_html: {value: step.ordinal} %>
              <%= f.submit "Complete!", class: "btn landing-button btn-lg"%>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="tab-pane fade show" id="nav-new-step" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview">
          <h1>New form here</h1>
          <%= simple_form_for [@project, @project_step] do |f| %>
            <%= f.input :header %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Add this step", class: "btn landing-button btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <% if current_user == @user_project.project.user && !@user_project.project.published? %>
      <%= simple_form_for @project do |f| %>
        <%= f.input :published, :as => :hidden, :input_html => { :value => true } %>
        <%= f.submit "Publish", class: "btn landing-button btn-lg" %>
      <% end %>
    <% else %>
      <%= render 'chatrooms/show', project: @user_project.project, user_project: @user_project, message: @message %>
    <% end %>
  </div>
</div>
