<div class="row">
  <div class="col-2">
    <div class="nav nav-tabs flex-column tab-buttons-progresshub m-2" id="nav-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mb-1" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
      <% @steps.each do |step| %>
        <a class="nav-link mb-1" id="tab-<%= step.ordinal %>" data-toggle="tab" href="#nav-<%= step.ordinal %>" role="tab" aria-controls="nav-<%= step.ordinal %>" aria-selected="false"><%= "Step #{step.ordinal}" %></a>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content tab-contents-progresshub" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview">
          <h1><%= @user_project.project.title %></h1>
          <%= cl_image_tag @user_project.project.photo.key %>
        </div>
      </div>
      <% @steps.each do |step| %>
        <div class="tab-pane fade p-5" id="nav-<%= step.ordinal %>" role="tabpanel" aria-labelledby="nav-<%= step.ordinal %>-tab">
          <%= cl_image_tag step.photo.key %>
          <h2><%= step.header %></h2>
          <p><%= step.description %></p>
          <% if step. ordinal == @steps.count %>
            <%= simple_form_for @user_project do |f| %>
              <%= f.input :completed,  input_html: {checked: true} %>
              <%= f.submit "Finish Project", class: "btn landing-button btn-lg"%>
            <% end %>
          <% else %>
            <%= simple_form_for @user_project, remote: true, html: { 'data-next-tab': "tab-#{step.ordinal + 1}" } do |f| %>
              <%= f.input :last_completed, as: :hidden, input_html: {value: step.ordinal} %>
              <%= f.submit "Complete!", class: "btn landing-button btn-lg"%>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<!--
<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a> -->
