<div class="container py-4">
  <div class="cards">
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="card-index" >
          <div class="image-with-overlay">
            <%= image_tag "https://img.delicious.com.au/5PiJMQy-/w759-h506-cfill/del/2015/12/cornetti-italian-croissants-24713-1.jpg", alt: "card-img", class: "card-index-img" %>
            <div class="card-index-overlay"></div>
          </div>
          <div class="box p-3">
            <div class="card-index-info">
              <h2><%= project.title %></h2>
            </div>
            <div class="card-index-footer">
              <div class="card-index-footer-user align-items-center d-flex">
                <% if project.user.photo.attached? %>
                  <%= cl_image_tag project.user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "default-avatar.jpg", class: "avatar" %>
                <% end %>
                <div class="ml-3">
                  <p class="m-0" >Created by</p>
                  <p class="m-0" ><%= project.user.username %></p>
                </div>
              </div>
              <div class="card-tags">
                <% project.tag_list.each do |keyword| %>
                  <span><%= keyword %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
   <% end %>
  </div>
</div>
