<div class="row">
  <div class="col-2">
    <div class="nav nav-tabs flex-column tab-buttons-progresshub m-2" id="nav-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mb-1" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
      <% @steps.each do |step| %>
        <a class="nav-link mb-1" id="tab-<%= step.ordinal %>" data-toggle="tab" href="#nav-<%= step.ordinal %>" role="tab" aria-controls="nav-<%= step.ordinal %>" aria-selected="false"><%= "Step #{step.ordinal}" %></a>
      <% end %>
      <%# if current_user == @project.user %>
        <!-- <a class="nav-link mb-1" id="add-step-tab" data-toggle="tab" href="#nav-new-step" role="tab" aria-controls="nav-overview">Add step</a> -->
      <%# end %>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content tab-contents-progresshub" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview">
          <h1>Render pending</h1>
            <%#= render 'shared/tab_overview', project: @project  %>
        </div>
      </div>
      <% @steps.each do |step| %>
        <div class="tab-pane fade p-5" id="nav-<%= step.ordinal %>" role="tabpanel" aria-labelledby="nav-<%= step.ordinal %>-tab">
          <%= cl_image_tag (step.photo.key) if step.photo.attached? %>
          <h2><%= step.header %></h2>
          <p><%= step.description %></p>
          <%= simple_form_for [@project, @user_project]  do |f| %>
            <%= f.submit "Start this project", class: "btn landing-button btn-lg"%>
          <% end %>
        </div>
      <% end %>
      <div class="tab-pane fade show" id="nav-new-step" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="tab-user-project-overview">
          <h1>New form</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h1>chat render</h1>
      <%= render 'chatrooms/show', project: @project, user_project: @user_project %>
  </div>
</div>
