<div class="container py-4">
  <div class="card-project-show d-flex flex-column align-items-center">
    <div class="title">
      <h1><%= @project.title %></h1>
    </div>
    <div class="image-container">
    <!-- replace with project image when available -->
      <%= cl_image_tag @project.photo.key, class: "img" %>
    </div>
    <div class="user-info">
      <div class="created-by d-flex">
        <div class="avatar">
          <% if @project.user.photo.attached? %>
            <%= cl_image_tag @project.user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "default-avatar.jpg", class: "avatar" %>
          <% end %>
        </div>
        <div class="pl-3">
          <p class="m-0">Created By</p>
          <p class="m-0"><%= @project.user.username %></p>
        </div>
      </div>
      <%= simple_form_for [@project, @user_project] do |f| %>
          <%= f.submit "Enroll", class: "btn landing-button btn-lg"%>
      <% end %>
    </div>
    <div class="steps"><%= @project.description %></div>
    <div class="footer btn landing-button"><%= link_to "Back", projects_path %></div>
   </div>
</div>
