<div class="container">
  <div class="card-project-show">
    <h1><%= @project.title %></h1>
    <% if @project.user.photo.attached? %>
      <%= cl_image_tag @project.user.photo.key, class: "avatar" %>
    <% else %>
      <%= image_tag "default-avatar.jpg", class: "avatar" %>
    <% end %>
    <% @steps.each do |step| %>
      <p><%= "#{step.ordinal} - #{step.description}" %></p>
    <% end %>
      <%= simple_form_for [@project, @user_project] do |f| %>
          <%= f.submit "Enroll", class: "btn btn-info"%>
      <% end %>

      <!-- <div class="btn btn-primary">Enroll</div> -->
      <!-- <div class="btn btn-secondary">Enroll</div> -->
    <p><%= link_to "Back to list", projects_path %></p>
  </div>

  <!-- cloudinary test, please ignore -->
  <%= cl_image_tag("hpqhwszy1g7izwulxx5w",
      width: 400, height: 300, crop: :fill) %>
</div>
